* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

.typed-cursor {
    display: none;
}

.cr {
    cursor: pointer;

}

.btn-style {
    background-color: var(--MainColor1);
    color: var(--ColorWhite);
}

.btn:hover {
    background-color: var(--HoverBtn);
    color: var(--ColorWhite);
}

body {
    font-family: "Montserrat", sans-serif;
}

h2,
.navbar-nav .nav-link,
h4 {
    font-family: "Aref Ruqaa", serif;
}

/* colors */
:root {
    --MainColor1: rgb(247, 127, 0);
    --HoverBtn: rgb(255, 132, 0);
    --MainColor2: rgb(0, 48, 73);
    --BG-Color: #f7f7f7;
    --ColorWhite: #fff;
    --ColorBlack: #000
}

/* Start Nav */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 100000;
    background-color: #ffffffdc;
}

.navbar-nav .nav-link {
    position: relative;
}

.navbar-nav .nav-link.active {
    color: var(--MainColor1);

}

.navbar-nav .nav-link::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    bottom: 0px;
    left: 0px;
    background-color: var(--ColorBlack);
    transition: all 0.3s;
}

.navbar-nav .nav-link.active::after {
    width: 100%;
}

.navbar-nav .nav-link:hover {
    color: var(--MainColor1);

}

.nav-image {
    width: 150px;
}

/* End Nav */
/* Start Header */
header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/c837a6_edd5476d0e2342f1a70eef51d5b92051~mv2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/* 
#options {
    list-style: inside;
}

#options li {
    font-size: 40px;
}

header .contnet {
    border-bottom: 3px solid var(--MainColor1);
    border-top: 3px solid var(--MainColor1);
}

header .contnet h1 {
    color: var(--MainColor2);
    font-size: 4rem;
    font-weight: 300;
} */

/* End Header */
/* start About us */
#About .AboutImage::after {
    position: absolute;
    content: "";
    width: 40%;

    background-color: var(--MainColor2);
    top: -15%;
    bottom: -15%;
    left: -5%;
    z-index: -2;
}

#About .AboutImage i {
    color: var(--MainColor1);
    font-size: 40px;
    position: absolute;
    top: -15%;
    left: 15%;
    transform: translate(-50%, -50%);
}

#About .AboutHistory {
    font-size: 50px;
}

#About .AboutHistory::after {
    position: absolute;
    content: "";
    height: 7px;
    width: 40px;
    background-color: var(--MainColor1);
    bottom: 0px;
    right: 5px;

}

/* End About us */
/* Start Contact */
#Contant i {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    background-color: var(--BG-Color);
    color: var(--mainColor);
    transition: all 0.4s;
}

#Contant i:hover {
    background-color: var(--light-Black);
    color: var(--secoundColor);
}

#Contant h6 {
    color: var(--mainColor);
}

#Contant p {
    font-size: .9375rem;
}

input:focus {
    outline: none;
}

input {
    border-color: transparent;
    background-color: var(--bg-icon);
}

#message {
    padding: 10px 10px 100px 10px;
}

#button-contact {
    padding: .625rem 2.5rem;
    background-color: var(--light-Black);
}

/* End Contact */
/* Start Our Product */
.product-title h2 {
    font-size: 75px;
}

.product-title h2::after {
    position: absolute;
    content: "";
    width: 150px;
    height: 5px;
    background-color: var(--MainColor2);
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.product-title h2::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 5px;
    background-color: var(--MainColor1);
    bottom: 0px;
    transform: translateX(-50%);
    z-index: 11;
    animation: move 2s infinite linear alternate;
}

@keyframes move {
    0% {
        left: 46%;
    }

    50% {
        left: 50%;
    }

    100% {
        left: 54%;
    }

}

.product-image {
    overflow: hidden;

}

#Product .btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* end Our Product */
/* start Product Order */
#ProductOrder {
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    display: none;
    overflow-y: auto;

}

#ProductOrder .orderContent {
    overflow-y: auto;
}

#ProductOrder .orderTitle {
    font-size: 55px;
}

#ProductOrder .closeIcon {
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
    font-size: 20px;
}

/* End Product Order */
/* start contact */

.form-control {
    outline: 1px solid rgb(6 21 46 / 34%)
}

#Contact .btn {
    background-color: var(--MainColor1);
    color: var(--ColorWhite);
}

/* end contact */
/* Start Clints Opinions */
#ClintOpinions .Clint-item {
    background-color: var(--BG-Color);
}

#ClintOpinions .option {
    color: #6e6e6e;
}

#ClintOpinions .clint-imgae {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    position: absolute;
    right: 0px;
    top: 0px;
    transform: translate(25%, -30%);
}

#ClintOpinions .clint-imgae img {
    z-index: 2000;
}

/* End Clints Opinions */
/* Start Service */
/* From Uiverse.io by dylanharriscameron */
#Services .service-content p {
    color: #6e6e6e;
}

#Services .bg p {
    color: var();
}

#Services .blob {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: var(--MainColor2);
    border-radius: 50%;
    color: var(--MainColor1);
    left: 0px;
    top: 0px;
    transform: translate(-20%, -20%);
}

#Services .service-content {
    border-right: 1px solid var(--MainColor1);
}

.service-content {
    transition: transform 0.4s ease-in-out;
    transform: scale(0.98)
}
.service-content:hover {
    transform: scale(1.1); /* Zoom out effect */
  }
  
.blob {
    transition: transform 0.1s ease-in-out;
  }
  
.service-content:hover .blob {
    transform: scale(1.7); /* Optional blob effect on hover */
  }
  
/* End Service */
/* Start questions */
#questions .questionContent {
    /* background-color: var(--BG-Color); */
    outline: 1px solid rgb(6 21 46 / 34%)

}

#questions .questionContent i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#questions .questionContent .AnserContent {
    border-top: 1px solid rgb(219, 219, 219);
    color: #6e6e6e;

}

.fa-chevron-up {
    display: none;
}

#questions .questionContent .express {
    color: var(--MainColor1);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

/* End questions */
/* Start Footer */
footer {
    background-color: var(--MainColor2);
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-top: 1px solid var(--MainColor1);
}

footer h4 {
    font-size: 50px;
    color: var(--MainColor1);
}

footer i {
    color: var(--MainColor1);
}

footer iframe {
    border: 1px solid var(--MainColor1);
    width: 100%;
    height: 80%;
}

footer .times {
    border: 1px solid var(--BG-Color);
}

/* Start Footer */